h2 {
  position: sticky;
  top: 0;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;

  color: white;

  background-color: #ac85d0;
  border-radius: 0.5rem;

  margin-bottom: 0.75rem;

  z-index: 9;
}

p + h2, p + p, p {
  margin-top: 1.5rem;
}

strong {
  font-weight: 500 !important;
}
